
h1{
    margin-left: 1rem;
    color: white;
}

img{
  width: 400px;
  height: 500px;
  object-fit: cover;
}

.container{
  padding: 1rem;
}

.embla {
  overflow: hidden;
  width: 400px;
  color:#1c2841;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: rgb(231, 152, 32) 0 0 1px 2px ;
  background-color: rgb(238, 230, 230);
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
}

.text_box{
  padding: 0.5rem;
  p{
    font-size: 1.2rem;
  }
  a{
    font-size: 0.7rem;
    margin-left: 75%;
  }
}

.buttons_box{
  padding: 0.2rem 0.5rem;
}
button{
  cursor: pointer;
  background-color: #1c2841;
  padding: 5px 15px;
  color: white;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}
button:hover{
  background-color: rgb(231, 152, 32);
}

.active{
  border-bottom: 2px solid #EF6F31;
}